 body {
    background-color: rgb(100,100, 100);
}

h1 {
    font-family: "Times New Roman", serif;
    font-size: 60px;
    text-align: center;
    color: rgb(0, 0, 0);
}

h2 {
    font-family: "Times New Roman", serif;
    font-size: 30px;
    text-align: left;
    color: rgb(0, 0, 0);
}

p {
    font-family: "Times New Roman", serif;
    font-size: 30px;
    text-align: left;
    color: rgb(0, 0, 0);
}

h3 {
    font-family: "Times New Roman", serif;
    font-size: 40px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.Box {
    border-radius: 20px;
    background-color: rgb(100,100,100);
    width: 1000px;
    height: 800px;

    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
}

.opis{
	font-size: 25px;
    margin-top: 200px;
    text-align: left;
}
